.form-signin {
  margin: auto;
  max-width: 330px;
  padding: 15px;
  width: 100%;
}

.form-signin input[type="email"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}

.form-signin p {
  color: red;
  margin-top: 1em;
  text-align: center;
}

.btn {
  cursor: pointer;
}
